$phone-windth: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;

@media (max-width: $desktop-width) {
  .header {
    .img-ab-header {
      height: 400px;
      width: 400px;
    }
  }
}

@media (min-width: 960px) and (max-width: 1261px) {
  .feature--card {
    min-height: 10rem;
  }
}

@media (max-width: $tablet-width) {
  .header {
    .img-ab-header {
      height: 100px;
      width: 100%;
    }
  }
}
