@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;600;700&family=Nunito:wght@300;400;700;800;900&family=Sacramento&display=swap");
// @import "~vuetify/src/styles/styles.sass";

$red: #f90000;
$blue: #2ca1c7;
$red-dark: #c50000;
$blue-dark: #1f738e;
$black: #353535;
$scroll: $blue-dark;
$scroll-hover: $red-dark;

$font-title: "Libre Bodoni", serif;
$font-base: "Nunito", sans-serif;
$font-dance: "Sacramento", cursive;

$body-font-family: $font-base;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	color: $black;
	font-family: $font-base !important;
}

$sizes: 2px, 4px, 6px, 8px, 10px;

@each $size in $sizes {
	.line-#{$size} {
		line-height: $size;
	}
}

.font {
	&-title {
		font-family: $font-title !important;
	}
	&-base {
		font-family: $font-base !important;
	}
	&-dance {
		font-family: $font-dance !important;
	}
}

.text {
	&-xs {
		font-size: 0.75rem !important;
	}
	&-sm {
		font-size: 0.875rem !important;
	}
	&-base {
		font-size: 1rem !important;
	}
	&-lg {
		font-size: 1.125rem !important;
	}
	&-xl {
		font-size: 1.25rem !important;
	}
	&-2xl {
		font-size: 1.5rem !important;
	}
	&-3xl {
		font-size: 1.875rem !important;
	}
	&-4xl {
		font-size: 2.25rem !important;
	}
}

/* width */
::-webkit-scrollbar {
	width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 100px;
	border: 5px solid transparent;
	background-clip: content-box;
	background-color: $scroll;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $scroll-hover;
	background-clip: content-box;
}

// .navbar {
// 	&__height {
// 		height: 100px !important;
// 		.v-toolbar__content {
// 			height: 100px !important;
// 		}
// 	}
// }

.section {
	min-height: 100vh;
}
.header {
	display: flex;
	align-items: center;
	position: relative;

	.img-ab-header {
		position: absolute;
		width: 36rem;
		bottom: -7rem;
		right: 3rem;
	}
}
